@import "tailwindcss";

@theme {
  --color-primary: #DE6E4B;
  --color-primary-lighter1: #E99D86;
  --color-primary-lighter2: #F2C7BA;
  --color-primary-darker1: #D95830;
  --color-primary-darker2: #AC4020;

  --color-secondary: #9E6C5D;
  --color-secondary-lighter1: #B48B7E;
  --color-secondary-lighter2: #C3A298;
  --color-secondary-darker1: #81584B;
  --color-secondary-darker2: #67463C;

  --color-success: #10B981;
  --color-success-dark: #059669;
  --color-warning: #FBBF24;
  --color-warning-dark: #D97706;
  --color-error: #EF4444;
  --color-error-dark: #B91C1C;

  --color-gray-50: #141314;
  --color-gray-100: #292729;
  --color-gray-200: #3D3A3D;
  --color-gray-300: #524E52;
  --color-gray-400: #666166;

  --color-gray-500: #A69DA2;
  --color-gray-600: #BAB1B6;
  --color-gray-700: #CFC4CA;
  --color-gray-800: #E3D8DE;
  --color-gray-900: #F2E6ED;
}

@layer components {
  .light {
    .surface {
      @apply bg-gray-800 text-gray-100 transition-colors duration-300;

      .subtext {
        @apply text-secondary-lighter1;
      }
      .subtext.ghost {
        @apply !text-gray-800;
      }
    }

    .variant-surface {
      @apply bg-gray-900 text-gray-100 transition-colors duration-300;

      .subtext {
        @apply text-gray-400;
      }
      .subtext.ghost {
        @apply !text-gray-900;
      }
    }

    .primary-surface {
      @apply bg-primary-lighter1 text-gray-900 transition-colors duration-300;

      .subtext {
        @apply text-gray-800;
      }
      .subtext.ghost {
        @apply !text-primary-lighter1;
      }
    }

    .secondary-surface {
      @apply bg-secondary-lighter1 text-gray-900 transition-colors duration-300;

      .subtext {
        @apply text-gray-800;
      }
      .subtext.ghost {
        @apply !text-secondary-lighter1;
      }
    }
  }

  .dark {
    .surface {
      @apply bg-gray-100 text-gray-900;

      .subtext {
        @apply text-secondary-lighter2;
      }
      .subtext.ghost {
        @apply !text-gray-100;
      }
    }

    .variant-surface {
      @apply bg-gray-200 text-gray-900;

      .subtext {
        @apply text-gray-600;
      }

      .subtext.ghost {
        @apply !text-gray-200;
      }
    }

    .primary-surface {
      @apply bg-primary-darker1 text-gray-900;

      .subtext {
        @apply text-gray-600;
      }
      .subtext.ghost {
        @apply !text-primary-darker1;
      }
    }

    .secondary-surface {
      @apply bg-secondary-darker1 text-gray-900;

      .subtext {
        @apply text-gray-700;
      }
      .subtext.ghost {
        @apply !text-secondary-darker1;
      }
    }
  }
}